@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* CSS HEX */
  --cornflower: #ebf2fc;
  --storm-gray: #696b7c;
  --bright-gray: #3d3e4d;
  --iron: #e5e5e6;
  --electric-violet: #5a3bf9;
  --manatee: #9798a0;
  --edanub: #7091d6;
  --governor-bay: #4433b0;
  --melrose: #c4bcfc;
  --lightgrey: #1f2123;
  --black: #101010;
  --lightblue: #f5f3ff;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--black);
  background-color: var(--cornflower);
}

.bg-card {
  background-color: #fff;
}
.bg-sidebar-card-top {
  background-color: var(--melrose);
}
.sidebar-separator-top {
  border-bottom: 1px solid var(--manatee);
}
.sidebar-separator-bottom {
  border-top: 1px solid var(--manatee);
}
.text-premium-yellow {
  color: #f7b91c;
}
.icon-background {
  background: var(--cornflower);
  color: var(--electric-violet);
}

.tooltip-head {
  background: #1d1d1d;
}
.tooltip-body {
  background: #252525;
}

.search-icon {
  top: 50%;
  transform: translate(0, -50%);
}

.card-stack-border {
  border-bottom: 2px solid #696969;
}
.bg-details {
  background-color: #1e1e1e;
}

.add-component-head {
  background-color: var(--electric-violet);
}

.sidebar-item-selected {
  color: var(--electric-violet);
  border-right: 2px solid var(--electric-violet);
}
.sidebar-item {
  border-right: 2px solid transparent;
}
.sidebar-item:hover {
  color: #a1a0a0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScoll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScoll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
